@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .custom-scrollbar::-webkit-scrollbar {
        width: 3px;
        height: 3px;
        border-radius: 2px;
      }
    
      .custom-scrollbar::-webkit-scrollbar-track {
        background: #09090a;
      }
    
      .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #5c5c7b;
        border-radius: 50px;
      }
    
      .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: #7878a3;
      }
}

.thread-card_bar {
    @apply relative mt-2 w-0.5 grow rounded-full bg-neutral-400;
}

.cl-dividerLine {
  background: #010101;
}

.cl-socialButtonsIconButton{
    border: 3px solid #565761;
    background: #fff
}

.cl-socialButtonsIconButton:hover {
    background: #f5f5f5;
}

.cl-internal-wkkub3 {
    color: white;
  }

.cl-footerActionLink{
    color: #010101
}

.cl-logoBox {
    height: 60px;
}

.cl-userButtonAvatarBox {
    width: 40px;
    height: 40px;
}

.cl-userButtonAvatarImage{
    width: 40px;
    height: 40px;
}

.cl-userButtonPopoverActionButton{
    color: #010101
}

.centeredFixedDiv {
  position: fixed;
  width: 40%;
  text-align: center;
  top: 25%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, 0);
  z-index: 9999;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  
}

.modal-content {
  background-color: #fefefe;
  padding: 0px;
  border: 1px solid #888;
  width: auto; /* Could be more or less, depending on screen size */
  height: auto;
  max-height: 85vh;
  max-width: 75vw;
}

.is-active {
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.post-card {
  max-width: 20rem;
  max-height: 20rem;
  min-height: 16rem;
  min-width: 16rem;
  width: auto;
}

.loading-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  width: 100svw;
  z-index: 9999;
}

.loading-fixed {
  position: fixed;
  z-index: 9999;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out;
  }
  